In [2]:
# Import pandas 
import pandas as pd
import requests

In [3]:
path1 = '../data/bicimad_stations.csv'
df1 = pd.read_csv(path1, sep= "\t")
df1

,Unnamed: 0,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [132]:
print(type(df1.loc[:,'geometry.coordinates'][0]))

<class 'str'>

In [133]:
df1[['longitud', 'latitud']] = df1['geometry.coordinates'].str.strip('[]').str.split(', ', expand=True).astype(float)

In [134]:
print(type(df1.loc[:,'longitud'][0]))

<class 'numpy.float64'>

In [135]:
df1['name'] = df1['name'].str.extract(r'\s-\s(.*)')

In [136]:
df1.loc[:,'name']

0            Puerta del Sol A
1            Puerta del Sol B
2                 Miguel Moya
3          Plaza Conde Suchil
4                    Malasaña
                ...
259                      INEF
260    Ciudad Universitaria 1
261    Ciudad Universitaria 2
262         Facultad Biología
263          Facultad Derecho
Name: name, Length: 264, dtype: object

In [139]:
bicimad_stations = df1[['name', 'address', 'latitud', 'longitud']]

In [140]:
bicimad_stations = bicimad_stations.rename(columns={'name': 'BiciMAD station', 'address': 'Station location',
                                                    'latitud': 'station_lat','longitud': 'station_long'})
bicimad_stations

,BiciMAD station,Station location,station_lat,station_long
0,Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834
1,Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603
2,Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917
4,Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587
...,...,...,...,...
259,INEF,Avenida Juan de Herrera frente a la calle Paul...,40.438960,-3.729970
260,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,40.443750,-3.726990
261,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,40.443420,-3.726930
262,Facultad Biología,Calle José Antonio Novais frente al nº 12,40.448332,-3.727295
263,Facultad Derecho,Avenida Complutense nº 23,40.451090,-3.729370

In [141]:
statio_null_cols = bicimad_stations.isnull().sum()
statio_null_cols

BiciMAD station     0
Station location    0
station_lat         0
station_long        0
dtype: int64