In [135]:
#Imports
import pandas as pd
import requests

In [164]:
#Acceder a la API 
# Main End-Point
end_point = 'https://datos.madrid.es/egob'
#Body
par1 = '/catalogo/300614-0-centros-educativos.json'

url = end_point + par1
url

'https://datos.madrid.es/egob/catalogo/300614-0-centros-educativos.json'

In [165]:
response = requests.get(url)
print(response.status_code)
json_data = response.json()

200

In [166]:
json_data.keys()

dict_keys(['@context', '@graph'])

In [167]:
print(type(json_data['@context']))
print(type(json_data['@graph']))

<class 'dict'>
<class 'list'>

In [168]:
#Es en 'graph' donde tengo la información que me interesa
#json_data['@graph']

In [169]:
df2 = pd.DataFrame(json_data['@graph'])
#df_2

In [171]:
#Para crear el df que quiero necesito extraer de la columan de address la información de la dirección

df2['street_address'] = df2['address'].apply(lambda x: x.get('street-address') if pd.notnull(x) else None).str.title()
#df_places

In [172]:
df2.loc[:, "street_address"]

0                     Calle Leizaran 27
1                     Calle Gran Via 63
2         Calle Marques De Villamejor 5
3                     Calle Serrano 117
4                   Calle Joaquin Bau 4
                     ...
1879          Calle Alberto Aguilera 23
1880    Calle Universidad De Comillas 3
1881          Calle Alberto Aguilera 23
1882          Calle Alberto Aguilera 23
1883                Calle Gaztambide 12
Name: street_address, Length: 1884, dtype: object

In [173]:
#Creo las dos nuevas columnas con lat y longuitud
df2['latitude'] = df2['location'].apply(lambda x: x['latitude'] if isinstance(x, dict) else None)
df2['longitude'] = df2['location'].apply(lambda x: x['longitude'] if isinstance(x, dict) else None)
#df2

In [174]:
#Voy a crear un segundo df unicamente con las columnas que me interesan
df_places = df2[['title', 'street_address', 'latitude', 'longitude']]
#df_places

In [175]:
df_places = df_places.rename(columns={'title': 'Place of interest', 'street_address': 'Place address',
                                                   'latitude': 'place_lat', 'longitude': 'place_long'})
#df_places

In [176]:
places_null_cols = df_places.isnull().sum()
places_null_cols

Place of interest    0
Place address        0
place_lat            4
place_long           4
dtype: int64

In [177]:
filas_con_nulos = df_places[df_places.isnull().any(axis=1)]
print(filas_con_nulos)

                                    Place of interest  \
6                   Aula de Naturaleza Palacio Valdés
549   Colegio Público de Educación Especial La Quinta
953                                      Escuela Ideo
1031                    Escuela Infantil Bularas INIA

                                          Place address  place_lat  place_long
6                   Carretera Colmenar Viejo Km 22,600         NaN         NaN
549   Carretera Somontes Al Palacio De La Real Quinta 1        NaN         NaN
953                         Carretera Colmenar Viejo 16        NaN         NaN
1031   Avenida Padre Huidobro (Carretera Coruña Km 7,5)        NaN         NaN

In [178]:
#Elimino valores y restablezco el indice 
df_places = df_places.dropna().reset_index(drop=True)
df_places

,Place of interest,Place address,place_lat,place_long
0,ABC Schule (Alemán),Calle Leizaran 27,40.447932,-3.681382
1,Academia Darío Estudio,Calle Gran Via 63,40.422491,-3.709818
2,AFI Escuela de Finanzas,Calle Marques De Villamejor 5,40.431247,-3.687559
3,Agencia Estatal Consejo Superior de Investigac...,Calle Serrano 117,40.440884,-3.687026
4,"Altair, Colegio Internacional",Calle Joaquin Bau 4,40.463788,-3.685848
...,...,...,...,...
1875,Universidad Pontificia Comillas. Facultad de D...,Calle Alberto Aguilera 23,40.429980,-3.711258
1876,Universidad Pontificia Comillas. Facultad de T...,Calle Universidad De Comillas 3,40.552126,-3.682802
1877,Universidad Pontificia de Comillas. Facultad d...,Calle Alberto Aguilera 23,40.429980,-3.711258
1878,Universidad Pontificia de Comillas. Facultad d...,Calle Alberto Aguilera 23,40.429980,-3.711258
1879,Universidad Pontificia de Salamanca. Campus de...,Calle Gaztambide 12,40.432068,-3.715598